*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#0f172a;
    color:white;
    padding:20px;
}

.container{
    max-width:700px;
    margin:auto;
}

.header{
    text-align:center;
    margin-bottom:25px;
}

.header h1{
    color:#22c55e;
    font-size:34px;
}

.header p{
    color:#cbd5e1;
}

.card{
    background:#1e293b;
    border-radius:16px;
    padding:20px;
    margin-bottom:20px;
    box-shadow:0 8px 25px rgba(0,0,0,.35);
}

label{
    display:block;
    margin-top:15px;
    margin-bottom:6px;
    font-weight:bold;
}

input{
    width:100%;
    padding:14px;
    border:none;
    border-radius:12px;
    background:#334155;
    color:white;
    font-size:18px;
}

input:focus{
    outline:2px solid #22c55e;
}

.botones{
    display:grid;
    gap:10px;
    margin-top:20px;
}

button{
    padding:14px;
    border:none;
    border-radius:12px;
    font-size:17px;
    font-weight:bold;
    cursor:pointer;
    transition:.2s;
}

button:hover{
    transform:scale(1.02);
}

.verde{
    background:#22c55e;
    color:white;
}

.azul{
    background:#2563eb;
    color:white;
}

.gris{
    background:#475569;
    color:white;
}

.resultado{
    background:#1e293b;
    border-radius:16px;
    padding:20px;
    margin-bottom:20px;
}

.ok{
    background:#14532d;
    border-left:6px solid #22c55e;
}

.error{
    background:#7f1d1d;
    border-left:6px solid #ef4444;
}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:#22c55e;
    color:white;
    padding:12px;
}

td{
    border-bottom:1px solid #334155;
    padding:10px;
}

td input{
    padding:8px;
    font-size:15px;
}

@media(max-width:600px){

.header h1{
    font-size:28px;
}

button{
    font-size:16px;
}

}
